section.anchor-links > article .contenu {
  padding: 0
}

section.anchor-links > article .contenu .custom-select {
  width: 100%;
  display: block;
  position: relative
}

@media (min-width: 768px) {
  section.anchor-links > article .contenu .custom-select {
    display: none
  }
}

section.anchor-links > article .contenu .custom-select .select-selected {
  border: 1px solid var(--colorBorder, rgba(0, 0, 0, .15));
  background: var(--Base-color_Base_Light, #fff);
  cursor: pointer;
  color: #333;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  padding: 9px 12px;
  font-size: 16px;
  display: block;
  position: relative
}

section.anchor-links > article .contenu .custom-select .select-selected:after {
  content: "";
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.64645 5.64645C3.84171 5.45118 4.15829 5.45118 4.35355 5.64645L8 9.29289L11.6464 5.64645C11.8417 5.45118 12.1583 5.45118 12.3536 5.64645C12.5488 5.84171 12.5488 6.15829 12.3536 6.35355L8.35355 10.3536C8.15829 10.5488 7.84171 10.5488 7.64645 10.3536L3.64645 6.35355C3.45118 6.15829 3.45118 5.84171 3.64645 5.64645Z' fill='%23535353'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  transition: transform .3s;
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%)
}

section.anchor-links > article .contenu .custom-select.active .select-selected:after {
  transform: translateY(-50%) rotate(180deg)
}

section.anchor-links > article .contenu .custom-select .select-items {
  z-index: 99;
  border: 1px solid var(--colorBorder, rgba(0, 0, 0, .15));
  background: #fff;
  border-radius: 8px;
  max-height: 300px;
  margin-top: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .1)
}

section.anchor-links > article .contenu .custom-select .select-item {
  cursor: pointer;
  padding: 10px 12px
}

section.anchor-links > article .contenu .custom-select .select-item:hover {
  background-color: rgba(0, 160, 233, .1)
}

section.anchor-links > article .contenu .custom-select .select-item.selected {
  background-color: #e6f7ff;
  font-weight: 600;
  position: relative
}

section.anchor-links > article .contenu .custom-select .select-item.selected:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M13.3334 4L6.00008 11.3333L2.66675 8' stroke='%2300A0E9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%)
}

section.anchor-links > article .contenu .custom-select .select-hide {
  display: none
}

section.anchor-links > article .contenu .country-nav {
  background: #fff;
  border-radius: 16px;
  justify-content: space-between;
  margin: 0;
  padding: 8px;
  display: none;
  box-shadow: 0 8px 24px rgba(149, 157, 165, .2)
}

@media (min-width: 768px) {
  section.anchor-links > article .contenu .country-nav {
    display: flex
  }
}

section.anchor-links > article .contenu .country-nav .nav-item {
  color: #333;
  cursor: pointer;
  background: 0 0;
  border: none;
  border-radius: 8px;
  flex: 1;
  padding: 12px 16px;
  font-size: 12px;
  font-weight: 500;
  transition: all .3s
}

section.anchor-links > article .contenu .country-nav .nav-item:hover {
  background: rgba(0, 147, 208, .1)
}

section.anchor-links > article .contenu .country-nav .nav-item.active {
  color: #fff;
  background: #0093d0
}
